.conteudo__certificados {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
  gap: 30px;
}

.certificados {
  padding-top: 90px;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
}


/*===============================================================*/

@media (min-width:834px) {
 
  .conteudo__certificados {
    display: flex;
  }

  .certificados {
    padding-left: 110px;
    display: flex;
    width: 100%;
    height:90%;
    justify-content: center;
    align-items: center;
  }

  .imggeral {
    width: 60%;
  }

  .rodape {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 5vh;
    background-color: var(--azul-escuro);
  }

}

@media (min-width:1200px) {
  .conteudo__certificados {
    width: 1200px;
  }

  .certificados {
    padding-left: 200px;
  }
  

}