.menu__container {
    background-color: var(--azul-escuro);
    font-size: 14px;
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%; 
    overflow: scroll;   
}

.menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.menu__lista li {
    align-self: center;
}

.menu__lista__itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu__lista__itens:hover {
    background-color: var(--azul-medio);
    transition: .5s;
}

.icone__home::before {
    content: url(../img/botao-home.png);
}

.icone__apresentacao::before {
    content: url(../img/autoapresentacao32.png);
}

.icone__objetivo::before {
    content: url(../img/objetivo32.png);
}

.icone__formacao::before {
    content: url(../img/graduacao32.png);
}

.icone__carreira::before {
    content: url(../img/plano-de-carreira32.png);
}


@media ( min-width: 834px) {
    
    .menu__container {
        left: 0%;
        top: 80px;
        width: 110px;
        height: auto;
        overflow: scroll;
    }

    .menu__lista {
    flex-direction: column;
    justify-content: space-evenly;
    
    }

    .menu__lista__itens {
        display: flex;
        flex-direction: column;
    }

    .menu__lista li {
        width: 100%;
    }

 
}
@media ( min-width: 1200px) {
    .menu__container {
        width: 200px;
    }
}