.conteudo__principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;

  align-items: center;
  overflow: scroll;
}

.container__left {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
}

.container__left__titulo {
  text-align: start;
  padding-top: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.container__left__sub {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__left__sub__titulo {
  text-align: start;
  padding-left: 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.container__left__sub__texto {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: start;
  padding-left: 5rem;
  gap: 0.5rem;
  border-bottom: 1px dotted black;
}

.container__left__sub__texto h2 {
  font-weight: bold;
  text-align: justify;
}

.final__de__pagina {
  display: none;
  
}

.icone__certificado::after {
    content: url(../img/diploma-de-graduacao16.png);
}

.icone__linkedin::after {
  content: url(../img/LogoLinkedin.jpg);
}


.curso {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ancora {
  color:blue;
}


/*==================================================================*/
.container__right {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 5rem;
}

.container__right__titulo {
  display: none;
  text-align: start;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.container__right__sub {
  display: none;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container__right__sub__titulo {
  display: none;
  text-align: start;
  padding-left: 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.container__right__sub__texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5rem;
  gap: 0.5rem;
  border-bottom: 1px dotted black;
}

.container__right__sub__texto h2 {
  font-weight: bold;
  text-align: justify;
}

.instrutores {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


/*==================================================*/


/*================================================================
    ================================================================*/

@media (min-width:834px) {
  .conteudo__principal {
    display: flex;
    flex-direction: row;
    padding-left: 110px;
    overflow:scroll;
    height: 100vh;
    
  }

  .container__left {
    padding-top: 80px;
    width: 50%;
    height: 100vh;
    border-right: 1px dotted black;
  }

  .container__left__sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    
  }

  .container__left__sub__titulo {
    text-align: start;
    padding-left: 3rem;
    font-size: 1rem;
  }

  .container__left__sub__texto {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    gap: 10px;
  }

  .final__de__pagina {
    display: flex;
  }

  /*==================================================*/

  .container__right {
    padding-top: 80px;
    width: 50%;
    height: 100vh;
  }
  .container__right__titulo {
    display: flex;
    text-align: start;
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .container__right__sub {
    display: flex;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .container__right__sub__titulo {
    display: flex;
    text-align: start;
    padding-left: 3rem;
    font-size: 1rem;
    font-weight: bold;
  }
  

  /*==================================================*/

  .rodape {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 5vh;
    background-color: var(--azul-escuro);
  }
 

}

@media (min-width:1200px) {

  .conteudo__principal {
    padding-left: 200px;
    height: 99%;
    overflow:scroll;
  }


}