.conteudo__Objetivo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
  gap: 30px;
}

.apresentacao__objetivo {
  padding-top: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.apresentacao__objetivo__titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.apresentacao__objetivo__texto {
  width: 80%;
  text-align: justify;
  justify-content: center;
  align-items: center;
}


.container__gravura__objetivo {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.circulomenor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circulomenorTamanho1 {
  width: 200px;
  height: 200px;
}

.circulomenorCordefundo2 {
  background-color: gray;
  overflow: hidden;
}

.foto__02 {
  width: 150px;
  height: 150px;
}

.cirulomenor__texto1 {
  font-weight: bold;
  display: none;
}

.foto__02:hover {
  display: none;
}

.foto__02:hover+.cirulomenor__texto1 {
  display: block;
  color: white;
}



/*================================================================
    ================================================================*/

@media (min-width:834px) {
 
  .conteudo__Objetivo {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    
  }

  .apresentacao__objetivo {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 110px;
    gap: 20px;
    align-items: center;
    justify-content: center;
 }

 .apresentacao__objetivo__texto {

 }

  .container__gravura__objetivo {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

/*==========================================================*/

.foto {
  display: flex;
}


.foto__02 {
  width: 220px;
  height: 220px;
}

.circulomenorTamanho1 {
  width: 300px;
  height: 300px;
}

/*==========================================================*/
  .rodape {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 5vh;
    background-color: var(--azul-escuro);
  }


}

@media (min-width:1200px) {
  .conteudo__objetivo {
    width: 1200px;
    
  }

  .apresentacao__objetivo {
    padding-left: 200px;
  }

}