.conteudo__apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center;
  color: black;
}

.apresentacao__conteudo {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 80%;
}

.apresentacao__conteudo__titulo {
   
}

.aparesentacao__conteudo__texto{
  
}
.container__momentoslivre {
  display: flex;
  flex-direction: column;
}

.foto {
  display: flex;
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circulomenor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}



.circulomenorTamanho {
  width: 60px;
  height: 60px;
}

.circulomenorTamanho1 {
  width: 120px;
  height: 120px;
}

.circulomenorTamanho2 {
  width: 30px;
  height: 30px;
}

.circulomenorCordefundo1 {
  background-color: white;
  overflow: hidden;
}

.circulomenorCordefundo2 {
  background-color: gray;
  overflow: hidden;
}

.foto__01 {
  width: 50px;
  height: 50px;
}

.foto__02 {
  width: 110px;
  height: 110px;
}

.cirulomenor__texto1 {
  font-weight: bold;
  display: none;
}

.foto__01:hover {
  display: none;
}

.foto__01:hover+.cirulomenor__texto1 {
  display: block;
}

.foto__02:hover {
  display: none;
}

.foto__02:hover+.cirulomenor__texto1 {
  display: block;
  color: white;
}

.rodape {
  width: 100%;
}

/*================================================================
    ================================================================*/

@media (min-width:834px) {
  .conteudo__apresentacao {
    flex-direction: row;
    padding-left: 110px;
    justify-content: space-evenly;
    width: 100%;

  }

  .apresentacao__conteudo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    width: 50%;

  }

  .container__momentoslivre {
    width: 50%;
    align-items: center;
  }

  .rodape {
    display: flex;
    padding-left: 110px;
    width: 70%;
    justify-content: center;
    height: 50px;
    color: black;
  }


}

@media (min-width:1200px) {
  .conteudo__apresentacao {
    padding-left: 200px;
  }

  .apresentacao__conteudo__titulo {
   
  }

  .aparesentacao__conteudo__texto{
    width: 80%;
  }
}