.conteudo__principal {
    width: 100%;
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    color: black;
    font-size: 1rem;
    gap: 20px;
    height: 190vh;
}

.conteudo__principal__titulo {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 1rem;
    padding-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.container__carreira {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}

.carreira__empresa {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
}

.recuo__left__2  {
    padding-left: 2rem;
    font-weight: bold;
}

.recuo__left__3 {
    padding-left: 3rem;
}

.detalhes {
    padding-left: 3rem;
    padding-top: 10px;
    width: 100%;
}

.detalhes__titulo {
    font-weight: bold;
    padding-bottom: 10px;
}

.detalhes__empresastrabalhadas {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    gap: 20px;
    height: auto;
}

.detalhes__empresa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px dotted black;
}

.detalhes__empresa__contrato {
    font-weight: bold;
}


@media (min-width:834px) {

    .conteudo__principal {
        width: 100%;
        height: 130vh;
        padding-left: 110px;
    }

    .conteudo__principal__titulo {
        display: flex;
        flex-direction: column;
    }

    .detalhes {
    }
    

    .detalhes__empresastrabalhadas {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .detalhes__empresa {
        width: 40%;
        flex-wrap: wrap;
    }


}

@media (min-width: 1200px) {
    .conteudo__principal {
        height: 160vh;
        padding-left: 200px;
    }

    .detalhes__empresa {
        width: 31%;
    }

}