.conteudo__principal {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  width: 100%;
  height: 120vh;
  color: black;
  gap: 30px;
  overflow: scroll;
}

.sider__left {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.apresentacao__objetivo__titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.apresentacao__objetivo__texto {
  width: 90%;
  text-align: justify;
}

.apresentacao__objetivo__texto>span {
  text-decoration: underline;
  font-weight: bold;
}

.sider__right {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.circulomenor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circulomenorTamanho1 {
  width: 200px;
  height: 200px;
}

.circulomenorCordefundo2 {
  background-color: gray;
  overflow: hidden;
}

.foto__02 {
  width: 150px;
  height: 150px;
}

.cirulomenor__texto1 {
  font-weight: bold;
  display: none;
}

.foto__02:hover {
  display: none;
}

.foto__02:hover+.cirulomenor__texto1 {
  display: block;
  color: white;
}

@media (min-width:834px) {
  .conteudo__principal {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 110px;
    height: 100vh;
    gap: 10px;
  }

  .sider__left {
    width: 60%;
  }

  .apresentacao__objetivo__texto {
    line-height: 1.5rem;
  }

  .sider__right {
    width: 40%;
  }
}

 @media (min-width:1200px) {

  .conteudo__principal {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 200px;
    height: 100vh;
  }

  .sider__left {
    width: 70%;
  }

  .sider__right {
    width: 30%;
  }

}