.conteudo__principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 135vh;
  color: black;
  gap: 10px;
  overflow: scroll;
  align-items: center;
  padding-top: 90px;
}

.side__left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
  align-items: center;
}

.apresentacao__conteudo__titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.aparesentacao__conteudo__texto {
  width: 80%;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.side__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container__momentoslivre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circulomenor {
  width: 30px;
  height: 30px;
}

.circulomedio {
  width:  60px;
  height: 60px;
}

.circulogrande {
  width: 120px;
  height: 120px;
}

.circulomenorCordefundo1 {
  background-color: white;
  overflow: hidden;
}

.circulomenorCordefundo2 {
  background-color: gray;
  overflow: hidden;
}

.foto__01 {
  width: 50px;
  height: 50px;
}

.foto__02 {
  width: 110px;
  height: 110px;
}

.cirulomenor__texto1 {
  font-weight: bold;
  display: none;
  transition: 20s;
}

.foto__01:hover {
  display: none;
}

.foto__01:hover+.cirulomenor__texto1 {
  display: block;
}

.foto__02:hover {
  display: none;
}

.foto__02:hover+.cirulomenor__texto1 {
  display: block;
  color: white;
}

.rodape {
  width: 100%;
}

@media (max-height: 500px) and 
(max-width:834px){
  .conteudo__principal {
    height: 230vh;
    gap: 10px;
  }
}

@media (max-height: 500px) and 
       (min-width:834px) {
  .conteudo__principal {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 300vh;
    gap: 10px;
    overflow: scroll;
  }

  .side__left {
    justify-content: center;
    width: 60%;
    height: 100%;
  }
  .side__right {
    justify-content: center;
    height: 100%;
  }

}

@media (min-width:834px) {
  .conteudo__principal {
    display: flex;
    flex-direction: row;
    padding-left: 110px;
    width: 100%;
    height: 100vh;
  }

  .side__left {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .aparesentacao__conteudo__texto {
    width: 90%;
    text-align: justify;
  }

   .side__right {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .container__momentoslivre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  

  .rodape {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 5vh;
    background-color: var(--azul-escuro);
  }


}

@media (min-width:1200px) {

  .conteudo__principal {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

 
  .side__left {
    padding-left: 190px;
    width: 65%;
  }

  .apresentacao__conteudo__texto{
    width: 95%;
  }

  


}