.conteudo__principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: black;
  gap: 10px;
  overflow: scroll;
}

.side__left {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.apresentacao__conteudo__titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.aparesentacao__conteudo__texto{
  width: 80%;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.side__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 5rem;
}

.container__momentoslivre {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;

  align-items: center;
}

.foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.circulomenor {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circulomenorTamanho {
  width:  60px;
  height: 60px;
}

.circulomenorTamanho1 {
  width: 120px;
  height: 120px;
}

.circulomenorTamanho2 {
  width: 30px;
  height: 30px;
}

.circulomenorCordefundo1 {
  background-color: white;
  overflow: hidden;
}

.circulomenorCordefundo2 {
  background-color: gray;
  overflow: hidden;
}

.foto__01 {
  width: 50px;
  height: 50px;
}

.foto__02 {
  width: 110px;
  height: 110px;
}

.cirulomenor__texto1 {
  font-weight: bold;
  display: none;
  transition: 20s;
}

.foto__01:hover {
  display: none;
}

.foto__01:hover+.cirulomenor__texto1 {
  display: block;
}

.foto__02:hover {
  display: none;
}

.foto__02:hover+.cirulomenor__texto1 {
  display: block;
  color: white;
}

.rodape {
  width: 100%;
}

/*================================================================*/

@media (min-width:834px) {
  .conteudo__principal {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .side__left {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 15%;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

   .side__right {
    padding-top: 100px;
    padding-right: 5%;
  }
  .container__momentoslivre {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

/*==========================================================*/
  .rodape {
    width: 100%;
    position: fixed;
    bottom: 0%;
    height: 5vh;
    background-color: var(--azul-escuro);
  }


}

@media (min-width:1200px) {
 
  .side__left {
    padding-left: 300px;
  }

  .apresentacao__conteudo__texto{
    width: 80%;
  }

  .side__right {
    padding-right: 150px;
  }

  /*==========================================================*/

.foto {
  width: 390px;
  height: 390px;
}
.foto__01 {
  width: 70px;
  height: 70px;
}

.foto__02 {
  width: 150px;
  height: 150px;
}


.circulomenorTamanho {
  width:  78px;
  height: 78px;
}

.circulomenorTamanho1 {
  width: 156px;
  height: 156px;
}

.circulomenorTamanho2 {
  width: 39px;
  height: 39px;
}


/*==========================================================*/


}