.conteudo__principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 135vh;
  color: black;
  gap: 10px;
  overflow: scroll;
  align-items: center;
  padding-top: 90px;
}

.side__left {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 20px;
  align-items: center;
}

.apresentacao__conteudo__titulo {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.aparesentacao__conteudo__texto {
  width: 80%;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.side__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.container__momentoslivre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circulomenor {
  width: 30px;
  height: 30px;
}

.circulomedio {
  width:  60px;
  height: 60px;
}

.circulogrande {
  width: 120px;
  height: 120px;
}

.circulomenorCordefundo1 {
  background-color: white;
  overflow: hidden;
}

.circulomenorCordefundo2 {
  background-color: gray;
  overflow: hidden;
}

.foto__01 {
  width: 50px;
  height: 50px;
}

.foto__02 {
  width: 110px;
  height: 110px;
}

.cirulomenor__texto1 {
  font-weight: bold;
  display: none;
  transition: 20s;
}

.foto__01:hover {
  display: none;
}

.foto__01:hover+.cirulomenor__texto1 {
  display: block;
}

.foto__02:hover {
  display: none;
}

.foto__02:hover+.cirulomenor__texto1 {
  display: block;
  color: white;
}

.rodape {
  width: 100%;
}

/*
@media (max-height: 500px) and 
(max-width:834px){
  .conteudo__principal {
    height: 220vh; 
    gap: 10px;
    background-color: aqua;
  }
  .side__left {
    height: auto;
  }

  .side__right {
    height: auto;
  }
}
*/
@media (max-height:500px) and (orientation:landscape){
  .conteudo__principal {
    background-color: blue;
    height: 230vh;
  }
}

@media (min-width:834px) {
  .conteudo__principal {
    display: flex;
    flex-direction: row;
    padding-left: 110px;
    height: 100vh;
    width: 100%;
  }

  .side__left {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .aparesentacao__conteudo__texto {
    width: 90%;
    text-align: justify;
    line-height: 1.5rem;
  }

   .side__right {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .container__momentoslivre {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  }

@media (min-width:1200px) {

  .conteudo__principal {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 200px;
  }
  .side__left {
    width: 70%;
  }
  .side__right {
    width: 30%;
  }

}